body {
  -webkit-user-select: text;
}

.progress-stripe {
  position: fixed;
  top: -1px;
  height: 1px;
  z-index: 1001;
  box-shadow: 0px 0px 3px #428bca;

  /* Stuff that is actually changing */
  width: 0%;
  opacity: 1;

  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.navbar {
  border-bottom: 1px solid #eee;
}

/* thread nav */

.sidebar {
  background: #f5f5f5;
  border-right: 1px solid #eee;
  position: fixed;
  top: 51px;
  bottom: 0;
  left: -310px;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 320px;
  -webkit-transition: left .2s ease-in-out;
  transition: left .2s ease-in-out;
}

.sidebar:hover {
  /* Slide out of the edge */
  left: 0px;
}

.sidebar .sidebar-chevron {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 10px;
  margin-top: -5px;
}

.thread-item {
  position: relative;
  -webkit-transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
}

.thread-item:first-child {
  display: none;
}

.thread-item.active {
  box-shadow: inset 0 0px 3px #428bca;
  background: #fafafa;
}

.thread-item .thread-item-owner {
  font-size: 10px;
  line-height: 20px;
  padding-right: 10px;
}

.thread-item .thread-item-remove {
  visibility: hidden;
  position: absolute;
  right: 0;
  z-index: 1000;
}

.thread-item:hover .thread-item-remove {
  visibility: inherit;
}

/* post */

.thread-post h1 {
  /* Make it equal to h2 */
  font-size: 30px;
}

.thread-post-replies {
  margin-top: 20px;
}

.thread-post-replies:empty {
  display: none;
}

.thread-post-container {
  position: relative;
  top: -20px;
  margin-left: 32px;
  padding: 20px;
  max-height: 548px;
  overflow-y: scroll;
}

.thread-post-reply-cost {
  text-align: right;
}

.thread-post-author.owner {
  color: #428bca;
  background-color: #fff;
}

.thread-post-reply-form > .close {
  margin-bottom: 8px;
}

.thread-post-reply-alerts {
  margin-bottom: 20px;
}

.thread-post-reply-alerts:empty {
  display: none;
}
